
<div class="container">
  <div class="row">
    <section class="col-md-4 avatar">
      <img class="avatar-image" src="/assets/indiana-jones.jpg" alt="avatar">
    </section>

    <section class="col-md-8 details">
      <h2>Dr. Henry "Indiana" Jones, Jr.</h2>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Address</strong>: Italy, Germany, Peru, Nepal, Egypt, India</li>
          <li><strong>Phone</strong>: 123-456-7890 </li>
          <li><strong>Email</strong>: <a href="mailto:hatesnakes@gmail.com">hatesnakes@gmail.com</a></li>
          <li><strong>GitHub</strong>: <a href="#">http://github.com/indianajones</a></li>
          <li><strong>Blog</strong>: <a href="#">http://monkeybrainz.com</a></li>
        </ul>   
      </div>
    </section>
  </div><!--row-->

  <div class="row">
    <section class="col-md-4 bio">
      <h2>Bio</h2>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, beatae praesentium officia nobis tempore alias accusantium eius similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, totam, ea, molestiae veritatis ipsa quibusdam alias reiciendis expedita consequatur accusamus sapiente ullam esse aliquam? Quo, minus perferendis distinctio! Perspiciatis, rerum!</p>
    </section>
    <section class="col-md-4 education">
      <h2>Education</h2>

      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>
          <strong>CUNY</strong> - <em>Computer Science</em>, 2014
          <p>Focused on compilers and coffee. Dean's List Fall 2013. Led theatre group senior year.</p>
        </li>
        <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>
          <strong>Vienna Summer Study</strong> - 2012
          <p>Learned a bit of German. Typed on a German keyboard.</p>
        </li>

      </ul>
    </section>
    <section class="col-md-4 interests">
      <h2>Interests</h2>
      <div class="well">
        
        <ul class="list-unstyled">
          <li><i class="fa fa-check"></i>Hopping on Trains</li>
          <li><i class="fa fa-check"></i>Crashing Planes</li>
          <li><i class="fa fa-check"></i>Jumping into Automobiles</li>
          <li><i class="fa fa-times"></i>Snakes</li>
          <li><i class="fa fa-times"></i>Nazis</li>
          <li><i class="fa fa-times"></i>Academics</li>
        </ul>  
      </div>
 
    </section>
  </div>
  <div class="row">
    <section class="col-md-6 technical-experience">
      <h2>Technical Experience</h2>
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>
          <strong>Teamline.io</strong> - <em>A Timeline for Teams</em>
          <p>Used jQuery mixed with GitHub api to produce visual timelines of GitHub activity. <a href="#">Click here to view it.</a></p>
        </li>
        <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>
          <strong>Foodfinder</strong> - <em>Find Food Fast</em>
          <p>Cras justo odio Lorem ipsum dolor sit amet. <a href="#">Click here to view it.</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, rem, voluptatibus ea quia voluptates magnam!</p>
        </li>
        <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>
          <strong>Teamline.io</strong> - <em>A Timeline for Teams</em>
          <p>Cras justo odio Lorem ipsum dolor sit amet. <a href="#">Click here to view it.</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, rem, voluptatibus ea quia voluptates magnam!</p>
        </li>

      </ul>
    </section>
    <section class="col-md-6 technical-experience">
      <h2>Work Experience</h2>
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>
          <strong>New York Times</strong> - <em>2011-12</em>
          <p>Cras justo odio Lorem ipsum dolor sit amet. <a href="#">Click here to view it.</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, rem, voluptatibus ea quia voluptates magnam!</p>
        </li>
        <li class="list-group-item"><i class="fa fa-dot-circle-o"></i>
          <strong>Domino's Pizza</strong> - <em>2009-2011</em>
          <p>Used jQuery mixed with GitHub api to produce visual timelines of GitHub activity. <a href="#">Click here to view it.</a></p>
        </li>


      </ul>
    </section>
  </div>

  <div class="row">
    <section class="col-md-6 contact">
      <h2>Contact</h2>
        <div class="row">
          <div class="col-xs-6 form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-xs-6 form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <label>Message</label>
            <textarea class="form-control" rows="3">I'm sure you'll never use this, but I wanted to demonstrate forms!</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <div class="button pull-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Send</button>
            </div>
          </div>
        </div>
    </section>
  </div><!--row-->
</div><!--container-->

